.tweet-error {
    border: 4px solid red;
    margin: 10px auto;
    padding: 10px 10px 10px 10px;
    max-width: 100%;
    color: #d40711;
}

.form-button {
    color: white;
    background-color: #4056A1;
}

form {
    width: 110%;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: flex-start;
    flex-direction: column;
}

.new-tweet {
    display: flex;
    justify-content: center;
}

.button-counter {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-family: 'Bungee', cursive;
}

label {
    size: 30px;
    color: rgb(37, 35, 35);
}

#tweet-text {
    width: 100%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    border-bottom: 2px solid black;
    background-color: lightskyblue;
    outline: none;
}

.counter-exceded {
    color: red;
    font-size: 24px;
    font-family: 'Bungee', cursive;
}